@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

.profile-container{
    background-color: rgba(194, 208, 75, 0.375);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8% 3%;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}
.profile-card{
    border: 2px solid rgba(82, 3, 3, 0.064);
    border-radius: 3px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
    margin:auto auto auto auto;
    /* width: 600px; */
    width: auto;
}
.profile-group{
    margin-bottom: 5px;
}
.profile-title{
    color: rgb(15, 15, 15);
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}
.img-container{
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    height: 150px;
    width: 150px;
}
.profile-img{
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    margin: auto;
    height: 150px;
    width: 150px;
}
.profile-span{
    color: rgb(13, 13, 13);
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    width: 140px;
}
.about-you{
    display: flex;
    align-items: center;
}
.profile-group .profile-input{
    background-color: black;
    border: 0;
    color:white;
    font-size: 1em;
    line-height: 25px;
    padding: 3px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 400px;
}
.profile-group .readonly-input{
    background-color: inherit;
    border:0;
    font-size: 1em;
    line-height: 25px;
    width: 400px;
}
.profile-select{
    background-color: black;
    color: white;
    border: 1px solid rgb(90, 3, 3);
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 400px;
}
.profile-input-file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.profile-input-file +label{
    background-color: black;
    color: white;
    border: 1px solid rgb(90, 3, 3);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 10px 10px;
    margin-left: 9px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 400px;
}
.profile-input-file:focus + label,
.profile-input-file + label:hover {
    background-color: white;
    border: 2px solid rgb(19, 47, 5);
    box-shadow: 0 0 5px rgb(8, 22, 1);
    color:black;
}

.profile-group .profile-input:hover,
.profile-group .profile-textarea:hover,
.profile-select:hover{
    background-color: white;
    color:black;
}
.profile-group .profile-textarea{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
   border: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: auto;
    width: 400px;
}
.button-container{
    display: flex;
    justify-content:center;
    align-items:center;
   margin-top:5px;
}
.profile-link{
    background-color: inherit;
    border:none;
    border-radius: 3px;
    font-size: 1.2em;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: start;
    opacity: 0.7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


.button-container .update-link{
    color: rgb(6, 63, 17);
    margin-left: 10px;
}
.button-container .delete-link{
    color: rgb(63, 6, 6);
    margin-right: 10px;
}
.profile-link:hover{
    opacity: 1;
}
.empty-msg{
    color: rgb(156, 9, 9);
    font-style: italic;
    text-transform: uppercase;
}
.d-none{
    display: none;
}
.img-span{
   color:black; 
   font-style: italic;
}
@media only screen and (min-width: 991px) and (max-width: 1200px){
    .profile-container{
        height: auto;
        padding:8% 3%;
    }
    /* .profile-card{
        margin: 12% auto auto auto;
    } */
}

@media only screen and (min-width: 769px) and (max-width: 990px){
    .profile-container{
        height: auto;
        padding:9% 3%;
    }
   
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .profile-container{
        height: auto;
        padding:15% 3% 5% 3%;
    }
    .profile-card{
        width: 80%;
        
    }
    .profile-group .profile-input{
        width: fit-content;
    }
    .profile-group .profile-textarea{
        width: fit-content;
    }
    .profile-link{
        font-size: .9em;
    }
}

@media only screen and (max-width: 480px){
    .profile-container{
        padding:20% 3% 5% 3%;
    }
    .profile-card{
        width: 80%;
        
    }
    .profile-group .profile-input{
        width: 100%;
    }
    .profile-group .profile-textarea{
        width: 100%;
    }
    .button-container,
    .about-you{
        flex-direction: column;
    }
}